In [5]:
import pandas as pd

In [6]:
df=pd.read_csv("spam.csv",encoding="latin-1")
df.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [7]:
df.drop(["Unnamed: 2","Unnamed: 3","Unnamed: 4"],axis=1,inplace=True)

In [8]:
##label,message=df["v1"] , df["v2"]

In [9]:
df.head()

     v1                                                 v2
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [10]:
df.rename(columns={"v1":"label","v2":"message"},inplace=True)

In [11]:
df.head()

  label                                            message
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [12]:
## data preprocessing

In [13]:
import nltk
import re
from nltk.stem import PorterStemmer
from nltk.corpus import stopwords

In [14]:
ps=PorterStemmer()

In [4]:
corpus=[]
for i in range(0,len(df.message)):
    review=re.sub("[^a-zA-Z]"," ",df.message[i])
    review=review.lower()
    review=review.split()
    review=[ps.stem(word) for word in review if not word in stopwords.words()]
    review=" ".join(review)
    corpus.append(review)

In [ ]:
# create the bag of words model
from sklearn.feature_extraction.text import CountVectorizer

## for binary bag of words model
cv=ConnectionAbortedError(binary=True , max_features=100)
x=cv.fit_transform(corpus).toarray()
x

In [ ]:
import numpy as np
np.set_printoptions(edgeitems=30,linewidth=100000,formatter=dict(float=lambda x:"%.3f" % x))

In [ ]:
#N-grames
cv.vocabulary_

In [ ]:
## bag of words model with ngrames
cv=CountVectorizer(ngram_range=(2,3),max_features=100,binary=True)